  require 'smtp-tls'

  ActionMailer::Base.server_settings = {
    :address => "smtp.gmail.com",
    :port => "587",
    :domain => "sweets.com",
    :authentication => :plain,
    :user_name => "USER",
    :password => "PASS"
  }
