<h1>Filter on for user id:<%= @filter.from_user_id %></h1>

<% form_for @filter, :url => project_filter_url(@filter), :html => { :method => :delete } do |f| %>
  <%= f.submit "Remove this filter*" %>
<% end %>

* removing a filter will not restore old tweets.